app/logs
app/cache
app/config
app/templates_c

web/assets/*
!/web/assets/site
web/css
web/tmp
web/galeria
web/gfx
web/i

bin
node_modules
scripts
vendor

.vscode
**/.sass-cache
*.htaccess
composer.lock
