@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?3jszm4');
  src:url('fonts/icomoon.eot?#iefix3jszm4') format('embedded-opentype'),
    url('fonts/icomoon.woff?3jszm4') format('woff'),
    url('fonts/icomoon.ttf?3jszm4') format('truetype'),
    url('fonts/icomoon.svg?3jszm4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
  content: "\e605";
}

.icon-checkmark:before {
  content: "\e602";
}

.icon-facebook:before {
  content: "\e600";
}

.icon-twitter:before {
  content: "\e603";
}

.icon-feed:before {
  content: "\e604";
}

.icon-user:before {
  content: "\e601";
}

.icon-search:before {
  content: "\f002";
}

.icon-close:before {
  content: "\f00d";
}

.icon-log-out:before {
  content: "\f011";
}

.icon-datetime:before {
  content: "\f017";
}

.icon-plus-circle:before {
  content: "\f055";
}

.icon-minus-circle:before {
  content: "\f056";
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-comment:before {
  content: "\f075";
}

.icon-trophy:before {
  content: "\f091";
}

.icon-menu:before {
  content: "\f0c9";
}

