
$container-width:                  480px;

$grid-columns:                     12;

// gaps
$grid-column-gap:                  16px;

                 
$gallery-item-width:               128px;
$gallery-item-border-width:        8px;
$gallery-item-margin-width:        8px;


$news-primary-color:             #17b;
$article-primary-color:          #080;
$story-primary-color:            crimson;



