body {
  border-top: 4px solid red;
}



.front-item {
  height: (($container-width / 12 * 8) - $grid-column-gap);
}


.footer-galleries {
  @include col-width-with-gap(12);
}
.footer-gallery {
  @include col-width(3);
}

.footer-links {
  @include col-width(12);
}

.copyright-details {
  @include col-width(12);
}


p {
  max-width: 48ch;
  font-size: 18px;
}

h3 {
  font-size: 1rem;
}


.article-header h1 {
  font-size: 2rem;
  padding: 1rem 2rem;
}