body.dev {
  border-top: 4px solid purple;
}


.front-item {
  height: (($container-width / 12 * 8) - $grid-column-gap);
}


.front-item img {
  max-width: 100%;
}

.footer-item {
  width: 74px;
  margin: 0 3px;
  display: inline-block;
}

.footer-galleries,
._footer-gallery,
.footer-links,
.copyright-details {
  width: 100%;
}

.visually-hidden {
  display: none;
}

.game-logo {
  width: $container-width;
  picture {
    width: inherit;
    img {
      width: inherit;
    }
  }
}