

body {
  border-top: 4px solid #17f;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111111;
  height: 4px; 
  background: blue;
}

.copyright-item {
  @include col-desktop-width(4);
}

@media (min-width: $min-desktop) {
  body::before {
    width: 33%;
  }

  body {
    font-size: 100%;
  }

  .main-items {
    width: $max-tablet;
    margin: 0 auto;
  }

  p {
    width: auto;
  }

  .normal-size {
    @include col-tablet-max-width(8);
    background: #f00;
    margin: 0 16px 32px;
  }
  .small-size {
    @include col-tablet-max-width(4);
    background: #0f0;
    margin: 0 16px 32px;
  }



}

@media (min-width: $desktop) {
  body::before {
    width: 66%;
  }
  
  .main-items {
    width: $desktop;
    margin: 0 auto;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      width: ($desktop / $grid-columns * $i) - $grid-column-gap;
    }
    .col-#{$i}-with-gap {
      width: ($desktop / $grid-columns * $i);
    }
  }
  
  .large-item {
    height: 22.5rem;
    height: 19.5rem;
    height: (($desktop / $grid-columns * 8) - $grid-column-gap) * 9 / 16;
  }

  .normal-size {
    @include col-desktop-width(8);
    background: #fcc;

    margin: 0 16px 32px;
  }
  .small-size {
    @include col-desktop-width(4);
    background: #cfc;

    margin: 0 16px 32px;
  }

  .footer-gallery-item {
    // margin: 0 ($grid-column-gap/2) $grid-column-gap;
    box-sizing: border-box;
    display: inline-block;
    line-height: 0;

    @include col-desktop-width-with-gap(4);
  }
  .footer-item {
    margin: 0 ($grid-column-gap/2) $grid-column-gap;
    box-sizing: border-box;
    display: inline-block;
    line-height: 0;
    
    @include col-desktop-width(1);
  }

}

@media (min-width: $max-desktop) {
  body::before {
    width: 100%;
  }
}