
/*
[class*="col-"] {
  margin: 0 ($grid-mobile-column-gap/2);
  box-sizing: border-box;
}
[class*="-with-gap"] {
  margin: 0;
}

.padding {
  padding: $grid-tablet-column-gap / 2;
}
*/


body {
  border-top: 4px solid $container-color;
}


.ch-inner-container {
  max-width: $container-width;
}


.main-items {
  margin-bottom: $grid-column-gap / 2;
}

.main-content {
  @include inner-box();
}


.visually-hidden {
  visibility: hidden;
}



a {
  color: #c30;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}


.miniature {
  line-height: 0;
}

picture {
  display: block;
  line-height: 0;
}

#imagelightbox {
  position: fixed;
  z-index: 9999;

  -ms-touch-action: none;
  touch-action: none;

  box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
}


picture {
  img {
    width: 100%;
  }
}


// main page
.inner > h2 {
  font-size: 2rem;
  padding: 2rem .5rem 0;
}
.inner > h3 {
  padding: 0 .5rem;
}

#imagelightbox {
  // visibility: hidden;
}

/*

main > section,
footer > .footer-items,
.copyright-items {
  background-image: 
    repeating-linear-gradient(
      90deg,
      #ccf,
      #ccf 8px,
      #6af 8px,
      #6af 72px,
      #ccf 72px,
      #ccf 80px
    );
  background: none;
}

_figure {
  background-image: 
    repeating-linear-gradient(
      90deg,
      #6af,
      #6af 64px,
      #ccf 64px,
      #ccf 80px
    ) !important;
  // background: none;
}

*/