.icon-plus-circle {
  background-image: url(../assets/site/icons/google/SVG/add_circle.svg);
}
.icon-minus-circle {
  background-image: url(../assets/site/icons/google/SVG/remove_circle.svg);
}
.icon-next {
  background-image: url(../assets/site/icons/google/SVG/navigate_before.svg);
}
.icon-previous {
  background-image: url(../assets/site/icons/google/SVG/navigate_next.svg);
}