[class^="icon"] {
    background-size: 100%;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.icon-checkmark {
  background-image: url(../assets/site/icons/icomoon/SVG/checkmark.svg);
}
.icon-feed {
  background-image: url(../assets/site/icons/icomoon/SVG/rss.svg);
}
.icon-facebook {
  background-image: url(../assets/site/icons/icomoon/SVG/facebook.svg);
}

// others
.searchbox .icon-search {
  background-image: url(../assets/site/icons/icomoon/SVG/search.svg);
}
