[class^="icon"] {
    background-size: 100%;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.icon-checkmark {
  background-image: url(../icons/google/SVG/check.svg);
}
.searchbox .icon-search {
  background: #eee url(SVG/search.svg) 50% 50% no-repeat;
}

.icon-feed {
  background-image: url(../icons/google/SVG/rss-feed.svg);
}

.icon-facebook {
  background-image: url(../icons/google/SVG/facebook.svg);
}
