.icon-checkmark {
  background-image: url(../assets/site/icons/icomoon/SVG/checkmark.svg);
}
.icon-feed {
  background-image: url(../assets/site/icons/icomoon/SVG/rss.svg);
}
.icon-facebook {
  background-image: url(../assets/site/icons/icomoon/SVG/facebook.svg);
}
.icon-html {
  // background-image: url(../assets/site/icons/icomoon/SVG/html-five.svg);
}
.icon-css {
  // background-image: url(../assets/site/icons/icomoon/SVG/css3.svg);
}
.icon-github {
  // background-image: url(../assets/site/icons/icomoon/SVG/github.svg);
}