.icon-checkmark {
    background-image: url(../assets/site/icons/google/SVG/check.svg);
    background-size: 100%;
    display: inline-block;
    width: 16px;
    height: 16px;
}
.searchbox .icon-search {
  // background: #eee url(SVG/search.svg) 50% 50% no-repeat;
}

.icon-user {
  // background: #800 url(SVG/user.svg) 50% 50% no-repeat;
  // background-size: 75%;

}

.icon-feed {
    background-image: url(../assets/site/icons/rss2.svg);
    background-size: 100%;
    display: inline-block;
    width: 16px;
    height: 16px;
    
}

// icons svg in the future...
.icon-feed {
    background-image: url(../assets/site/icons/rss2.svg);
    background-size: 100%;
    display: inline-block;
    width: 16px;
    height: 16px;
    
}
.icon-facebook {
    background-image: url(../assets/site/icons/facebook2.svg);
    background-size: 100%;
    display: inline-block;
    width: 16px;
    height: 16px;    
}
