.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}



@mixin col-mobile-width($col) {
  width: ($grid-mobile-base-width / $grid-columns * $col) - $grid-column-gap;
}
@mixin col-mobile-min-width($col) {
  width: ($grid-mobile-min-width / $grid-columns * $col) - $grid-column-gap;
}
@mixin col-mobile-max-width($col) {
  width: ($grid-mobile-max-width / $grid-columns * $col) - $grid-column-gap;
}

@mixin col-tablet-width($col) {
  width: ($grid-tablet-base-width / $grid-columns * $col) - $grid-column-gap;
}
@mixin col-tablet-min-width($col) {
  width: ($grid-tablet-min-width / $grid-columns * $col) - $grid-column-gap;
}
@mixin col-tablet-max-width($col) {
  width: ($grid-tablet-max-width / $grid-columns * $col) - 32px;
}

@mixin col-desktop-width($col) {
  width: ($grid-desktop-base-width / $grid-columns * $col) - 32px;
}
@mixin col-desktop-min-width($col) {
  width: ($grid-desktop-min-width / $grid-columns * $col) - $grid-column-gap;
}
@mixin col-desktop-max-width($col) {
  width: ($grid-desktop-max-width / $grid-columns * $col) - $grid-column-gap;
}


@mixin col-mobile-width-with-gap($col) {
  width: ($grid-mobile-base-width / $grid-columns * $col);
}
@mixin col-tablet-width-with-gap($col) {
  width: ($grid-tablet-base-width / $grid-columns * $col);
}
@mixin col-desktop-width-with-gap($col) {
  width: ($grid-desktop-base-width / $grid-columns * $col);
}


@mixin gallery-width($col) {
  width: (($gallery-item-width + ($gallery-item-border-width*2) + ($gallery-item-margin-width*2)) * $col);
}