
@mixin inner-box() {
  width: $container-width;
  margin: 0 auto;
}

@mixin col-width($col) {
  width: ($container-width / $grid-columns * $col) - $grid-column-gap;
  margin: $grid-column-gap / 2;
}

@mixin col-width-with-gap($col) {
  width: ($container-width / $grid-columns * $col);
  margin: 0;
}

@mixin gallery-width($col) {
  width: (($gallery-item-width + ($gallery-item-border-width*2) + ($gallery-item-margin-width*2)) * $col);
}
