
body {
  margin: 0;
  font: normal 100% 'LucidaGrande', 'HelveticaNeue', Tahoma, Verdana, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
}


#ratings,
#comments {
  font-family: 'LucidaGrande', 'HelveticaNeue', Tahoma, Verdana, Arial, sans-serif;
}


h2 {
  padding: 0 $grid-column-gap/2;
}