

.article-main-image {
  // width: 100%;
  width: 1280px;
  margin: 4em (-((1280px - $container-width) / 2)) 0;
}

.article-main-image + .article-header {
  margin-top: -8em;
}

.article-header {
  width: $container-width;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  h1 {
    font-size: 3em;
    // margin-right: ($container-width - 640px) / 2;
    padding: 2rem 3rem;
    background: #fff;
  }
}

.article-image {
  margin-bottom: 1em;
}

.article {
  width: $container-width;
  margin: 0 auto;
  position: relative;
}

.article > article {
  width: $container-width;
  max-width: 640px;
  padding: 1rem;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0 auto;
}

.article-content {
  width: $container-width;
  max-width: 640px;
  margin: 0 auto;
  padding: 1em;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.content-meta {
  max-width: $container-width;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  font-size: .875em;
  padding: .25rem .5rem;
}

.content-meta > time {
  color: #444;
}
.comments-count {
  float: right;
}


.article-verdict,
.article-stats,
.article-ratings {
  width: $container-width;
  margin: 0 auto;
}


.article-footer,
.article-ratings {
  background-color: #eec;
}

.article-stats {
  padding: 1px 0;
}

.article-verdict,
.article-stats {
  background: $article-verdict-background url(../assets/site/bg/bedge_grunge/bedge_grunge.png) 0 0 repeat;
}


.article-verdict > h2,
.article-stats > h2,
.article-ratings > h2 {
  margin: 0;
  padding: 1rem 1rem 0;
}


.article-content {
  picture {
    width: 100%;
    > img {
      width: inherit;
    }
  }
}