

.article-image {
  width: 1280px;
  margin: 4em auto 0;
}

.article-header {
  width: 1080px;
  margin: -8em auto 0;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  h1 {
    font-size: 3em;
    padding: 2rem 3rem;
  }
}



.cover-header {
  // padding-top: calc(320px * 1.5);
}
.cover-header > h2,
.cover-header > h3 {
  // background: #fff;
  // padding: 2rem;
  // margin: 0;
}
.cover-header > h3 {
  // font-size: 1em;
  // color: #222;
  // padding: 0 2rem 2rem;
}