

/*main > section,*/
.breadcrumbs {
  /*background: #eee;*/
  // max-width: 944px;
  // padding: .5rem;
  font-size: .875em;
}

/* breadcrubs */
.breadcrumbs {
  /*padding: 0 1em;*/
  padding: 0 .5rem;
  box-sizing: border-box;
  vertical-align: middle;
}
.breadcrumbs > span {
  padding: .5em 0;
  display: inline-block;
  /*color: #aaa;*/
}
.breadcrumbs > span:after {
  /*content: '\2192';*/
  content: '/';
  /*content: '/';*/
  font-size: .75em;
  color: #ccc;
}
.breadcrumbs > span:last-child:after {
  content: '';
}
.breadcrumbs a {
  color: #666;
}
.breadcrumbs a:hover {
  color: #000;
}


// Breadcrumbs
// .wvu-breadcrumbs { font-size: .85em; color: #ccc; line-height: 1.5; margin: 18px; padding-left: 0;
//   li { display: inline; list-style-type: none; margin-left: 0; }
//   li:before { content: "/"; padding-right: 3px; }
//   li:first-child:before { content: ""; padding-right: 0; }
// } //.wvu-breadcrumbs