/* breadcrubs */
.breadcrumbs {
  @include inner-box();
  font-size: .875em;
  padding: 0 .5rem;
  box-sizing: border-box;
  vertical-align: middle;
}
.breadcrumbs > span {
  padding: .5em 0;
  display: inline-block;
}
.breadcrumbs > span:after {
  /*content: '\2192';*/
  content: '/';
  font-size: .75em;
  color: #ccc;
}
.breadcrumbs > span:last-child:after {
  content: '';
}
.breadcrumbs a {
  color: #666;
}
.breadcrumbs a:hover {
  color: #000;
}
