
/* comments */
#comments {

}
.comments {
  margin: 0;
  padding: 0;
  background: #eee;
}
#comments > .inner {
  border: 1px solid #aaa;
  border-width: 0 1px;
}

.comments > h2 {
  margin: 0;
  padding: .75em;
}
.comments > section {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  /*max-height: 7em;*/
  /*overflow: hidden;*/
  /*position: relative;*/
  font-size: .875em;
}
.comments > section > div {
  max-width: 72ch;
}

.comments > section:last-child {
  border: none;
}
.comments > section:hover {
  background: #eee;
}
.comments > section:hover > .meta > .visible-on-hover {
  visibility: visible;
}
.comments > section > blockquote {
  width: auto;
  float: none;
  border-left: 8px solid #AAA;
  padding-left: 16px;
}
.meta {
  color: #888;
  margin-bottom: 1em;
}

/* comments form */
#comment-form {
  padding-bottom: 1em;
}
.suggests {
  display: inline-block;
  box-sizing: border-box;
  width: 39%;
  padding: 1em;
  background-color: #ccc;
}
#add-comment-form {
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
}

#comment-form label {
  display: block;
}
#add-comment-form {
  vertical-align: top;
  padding: 0 0 0 1em;
}



.blured {
  filter: blur(5px);
}
