
/* comments */
.comments {
  width: $container-width;
  margin: 0 auto;
  background: #eee;
  padding: 1px 0;
}

.comments > h2 {
  padding: 0 1rem;
}
.comments > section {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  font-size: .875em;
}
.comments > section > div {
  max-width: 72ch;
}

.comments > section:last-child {
  border: none;
}
.comments > section:hover {
  background: #eee;
}
.comments > section:hover > .meta > .visible-on-hover {
  visibility: visible;
}
.comments > section > blockquote {
  width: auto;
  float: none;
  border-left: 8px solid #aaa;
  padding-left: 16px;
}
.comment-header {
  color: #888;
  margin-bottom: 1em;
}

/* comments form */
#dodaj-komentarz {
  background: $comment-form-background;
}
.comment-form {
  width: $container-width;
  margin: 0 auto;
  padding: 1em 0;
  > h2 {
    padding: 0 1rem;
  }
}

.suggestions {
  // @include col-width-with-gap(4);
  display: inline-block;
  box-sizing: border-box;
  padding: 1em;
  background-color: #ccc;
}
#add-comment-form {
  // @include col-width(8);
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
}

#comment-form label {
  display: block;
}
#add-comment-form {
  vertical-align: top;
  // padding: 0 0 0 1em;
}

.form-buttons {
  padding: 1em 0;
}



.blured {
  filter: blur(5px);
}



.ng_quote {
  border-left: 4px solid #888;
  padding-left: 4px;
  margin-bottom: 1em;
  .ng_quote_body {
    padding-left: 1em;
  }
}