
/* site footer */
#footer {
  background: #eee url(../assets/site/bg/norwegian_rose/norwegian_rose.png) 50% 50% repeat;
  border-top: 1px solid #888;
  a {
    color: #444;
  }
}
.footer-items,
.copyright-items {
  @include inner-box();
}

.footer-galleries {
  line-height: 0;
  > h3 {
    padding: .5rem;
    color: #222;
  }
}

.footer-links {
  vertical-align: top;
  > h3 {

  }
}

.copyright-items {
  border-top: 1px solid #aaa;
  padding: 1rem 0;
  font-size: .875rem;
  > .copyright-details {
    vertical-align: middle;
    text-align: center;
    color: #444;
    // &:first-child {
    //   text-align: left;
    // }
    // &:last-child {
    //   text-align: right;
    // }
  }
}


.footer-galleries,
.footer-links,
.copyright-details,
.footer-gallery {
  box-sizing: border-box;
  display: inline-block;
}