
/* site footer */
#footer {
  background: #eee url(../assets/site/bg/norwegian_rose/norwegian_rose.png) 0 0 repeat;
  border-top: 1px solid #888;
  color: #888;
  a {
    color: #444;
  }
}
.footer-items,
.copyright-items {
  margin: 0 auto;
}

.footer-galleries {
  line-height: 0;
}

.footer-links {
  vertical-align: top;
}

.copyright-items {
  border-top: 1px solid #aaa;
  padding: 1rem 0;
  font-size: .875rem;
  > .copyright-details {
    vertical-align: middle;
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}


.footer-galleries,
.footer-links,
.copyright-details,
.footer-gallery {
  box-sizing: border-box;
  display: inline-block;
}