
/* front items */
.front-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-bottom: 1rem;
  overflow: hidden;
  .main-items > & {
    background: #eee;
    &:hover {
      background: #ddd;
    }
  }
  .front-item-title {
    position: relative;
    display: block;
    padding: .25rem .5rem;
    margin: 0;
    border-top: 4px solid #444;
    .news-item & {
      border-color: $news-primary-color;
    }
    .article-item & {
      border-color: $article-primary-color;
    }
    .story-item & {
      border-color: $story-primary-color;
    }
  }
  .front-item-category {
    position: absolute;
    top: -2rem;
    left: 0;
    font-size: .875rem;
    line-height: 2;
    padding: .125rem .5rem;
    color: #fff;
    text-shadow: 0 1px #000;
    .news-item & {
      background: $news-primary-color;
    }
    .article-item & {
      background: $article-primary-color;
    }
    .story-item & {
      background: $story-primary-color;
    }
  }
  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 .5rem;
    font-family: 'HelveticaNoue', 'Lucida Grande', Ubuntu, sans-serif;
    font-size: .75rem;
    line-height: 2;
    vertical-align: middle;
    .meta-time {
      display: inline-block;
      margin-right: .5rem;
      color: #888;
    }
    .meta-comments,
    .meta-comments:hover {
      color: #444;
    }
    .icon-checkmark {
      float: right;
      opacity: .25;
    }
  }
}

@media screen and (min-width: 768px) {
  // item for item covered with image
  .full-image-item {
    header {
      position: absolute;
      bottom: 1.5rem;
      width: 100%;
      background: rgba(255, 255, 255, .75);
      // background: #eee;
      h3 {
        font-size: 1.5rem;
      }
    }
    footer {
      background: rgba(255, 255, 255, .75);
      // background: #eee;
    }
    .meta-time {
      color: #666;
    }
    .meta-comments,
    .meta-comments:hover {
      color: #222;
    }
  }
}

.large-item {
  // height: 20rem;
  height: 19.5rem;
}

.m-item {
  height: 8rem;
  display: block;
  // img {
  //   filter: grayscale(100%);
  //   &:hover {
  //     filter: none;
  //   }
  // }
}
.s-item {
  min-height: 64px;
  display: block;
}

.footer-items {
  // width: 960px;
  // width: 1080px;
  // margin: 0 auto;
}

.player-item {
  background: #eee;
  border-top: 4px solid #444;
  img {
    float: left;
  }
  h3 {
    float: left;
    margin-left: .5rem;
  }
}


@media screen and (max-width: 375px) {
  .col-3,
  .col-4,
  .col-8 {
    margin: 0 0 1rem;
    width: 100%;
  }
  .footer-items,
  .inner {
    width: 100%;
  }

  .ch-icon-logo {
    width: 160px;
    background-size: 75%;
    background-position-x: 0;
  }

  .list-item {
    padding: 0 .5rem;
  }
  .breadcrumbs {
    box-sizing: border-box;
  }

  .copyright-items .front-item {
    text-align: center;
  }
  .copyright-items .front-item:nth-child(3) {
    text-align: center !important;
  }
}