
/* front items */

.front-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  // background: #eee;
  margin-bottom: 1rem;
  overflow: hidden;
  .main-items > & {
    background: #eee;
    &:hover {
      background: #ddd;
    }
  }
  .front-item-title {
    position: relative;
    display: block;
    padding: .25rem .5rem;
    margin: 0;
    border-top: 4px solid #444;
    .news-item & {
      border-color: $news-primary-color;
    }
    .article-item & {
      border-color: $article-primary-color;
    }
    .story-item & {
      border-color: $story-primary-color;
    }
  }
  .front-item-category {
    position: absolute;
    top: -2rem;
    left: 0;
    font-size: .875rem;
    line-height: 2;
    padding: .125rem .5rem;
    color: #fff;
    text-shadow: 0 1px #000;
    .news-item & {
      background: $news-primary-color;
    }
    .article-item & {
      background: $article-primary-color;
    }
    .story-item & {
      background: $story-primary-color;
    }
  }
  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 .5rem;
    font-family: 'HelveticaNoue', 'Lucida Grande', Ubuntu, sans-serif;
    font-size: .75rem;
    line-height: 2;
    vertical-align: middle;
    .meta-time {
      margin-right: .5rem;
    }
  }
}


.front-item {
  .meta-time {
    display: inline-block;
    color: #888;
  }
  .meta-comments,
  .meta-comments:hover {
    color: #444;
  }
}


.full-image-item {
  header {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    h3 {
      font-size: 2rem;
    }
  }
  footer {
    background: rgba(255, 255, 255, .5);
  }
  .meta-time {
    color: #666;
  }
  .meta-comments,
  .meta-comments:hover {
    color: #222;
  }
}

.large-item {
  // height: 20rem;
  height: 19.5rem;
}

.front-item small {
  float: right;
  color: #bbb;
}


.m-item {
  min-height: 96px;
}
.s-item {
  min-height: 64px;
}

.footer-items {
  width: 960px;
  margin: 0 auto;
}
