
/* gallery images */
.gallery-images {
  text-align: justify;
  /*max-width: 640px;*/
  vertical-align: middle;
}
/* 3 images in article */
.gallery-images > img {
  width: 30%;
  padding: 1%;
  margin: .25em 0;
  height: auto;
  vertical-align: middle;
}

.gallery-images > a {
  background-color: #eee;
  display: inline-block;
  margin: 1em;

  width: 9rem;
  padding: .25rem;
  margin: .25rem;
}
.gallery-images > a:hover {
  background: #aaa;
}

/* thumbnails */
.thumbnail {
  padding: .25em;
  border: .25em solid #eee; 
}

.gallery {
  margin: 0 auto;
}
@media (min-width: $mobile) {
  .gallery {
    @include gallery-width(2);
  }
}
@media (min-width: $max-mobile) {
  .gallery {
    @include gallery-width(3);
  }
}
@media (min-width: $min-tablet) {
  .gallery {
    @include gallery-width(3);
  }
}
@media (min-width: $tablet) {
  .gallery {
    @include gallery-width(4);
  }
}

.miniature {
  display: inline-block;
  width: 8rem;
  border: .5rem solid #fff;
  margin: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: box-shadow .3s ease, border-color .3s ease;
}


/*
section {
  max-width: 960px;
  background: #eee;
}

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-gallery > a {
  flex-basis: 10rem;
  padding: .5rem;
}
*/
