/* newer and older item */
.pagination {
  margin: 4em auto 0;
  background: #eee;
  max-width: 640px;

  // display: flex;
  clear: both;
}
.newer-item,
.older-item {
  width: 50%;
  box-sizing: border-box;
  padding: 1em;
  display: block;
  background: #ddd;
  min-height: 6em;
  position: relative;
  
}
.newer-item:hover,
.older-item:hover {
  background: #ddd;
}
.newer-item:hover::before,
.older-item:hover::after {
  // color: #aaa;
}
.older-item:only-child {
  float: right;
}

.newer-item {
  // float: left;
  padding-left: 6rem;
  
}
.older-item {
  // float: right;
  padding-right: 6rem;
  // right: 0;
}
.newer-item::before,
.older-item::after {
  display: block;
  position: absolute;
  vertical-align: middle;
}
.newer-item::before {
  // content: 'Nowsze';
  background-image: url(../assets/site/icons/google/SVG/navigate_before.svg);
  left: 0;
}
.older-item::after {
  // content: 'Starsze';
  background-image: url(../assets/site/icons/google/SVG/navigate_next.svg);
  right: 0;
}
.newer-item::before,
.older-item::after,
.icon-previous,
.icon-next {
  content: '';
  background-size: 100%;
  display: inline-block;
  width: 64px;
  height: 64px;
  opacity: .5;
}
