
/* statistics */
.features {
  /*padding-left: 4em;*/
  max-width: 40em;
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.features ul {
  margin: 0 0 1em;
  padding-left: 0;
}
.features li {
  position: relative;
  list-style: none;
  padding: .25em 1.5em;
  /*margin: .25em 0;*/
  vertical-align: middle;
  /*background: #eee;*/
  
}
.features span {
  vertical-align: middle;
  /*display: inline-block;*/
}
.features .icon-plus-circle,
.features .icon-minus-circle {
  width: 24px;
  height: 24px;
  opacity: .8;
}
